
import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.quadeq.provider.*;
import sorcer.quadeq.provider.ui.*;
import sorcer.quadeq.provider.ui.mvc.*;

sorcer.core.provider.ServiceProvider {
		properties = "..${/}configs${/}prv1.properties";
		name="QuadEquation";
		publishedInterfaces = new Class[] { sorcer.account.provider.Account.class, sorcer.account.provider.ServiceAccount.class };
		description = "Quadratic Equation Solver";
		location = "PJWSTK 2014";
		entries = new Entry[] { 
			AccountUI.getUIDescriptor(),
			//AccountView.getUIDescriptor(),
			new Comment("PJWSTK s7712"), 
			new Location("3", "310", "PJWSTK DA") };
        // if not declared the default exporter is BasicJeriExporter
        //exporter = new JrmpExporter(0);
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        iconName="sorcer.jpg";
}
	

