import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.solver.provider.*;
import sorcer.solver.provider.ui.*;
import sorcer.solver.provider.ui.mvc.*;

sorcer.core.provider.ServiceProvider {
		name="Solver";
		publishedInterfaces = new Class[] { sorcer.solver.provider.Solver.class, sorcer.solver.provider.ServiceSolver.class };
		description = "provider calculating zero crossing points of function";
		location = "PJWSTK";
		entries = new Entry[] { 
			SolverUI.getUIDescriptor(),
			SolverView.getUIDescriptor(),
			new Comment("PJWSTK FOXTROT project"), 
			new Location("0", "0", "PJWSTK") };
        // if not declared the default exporter is BasicJeriExporter
        //exporter = new JrmpExporter(0);
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        iconName="sorcer.jpg";
}
	

